/* ================================= 
  Element Styles
==================================== */

* {
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
  color: #4c4c4c;
  background: #f8fdf3;
}
h1,
p,
form button {
  color: white;
}
h1 {
  font-family: "Courgette", cursive;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  line-height: 0.65;
  margin-top: 0.5em;
  margin-bottom: 0;
}
h2 {
  margin-top: 0;
}
p {
  font-size: 1.1em;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}
form {
  width: 60%;
  background: white;
  border-radius: 0.2em;
  border: solid 4px white;
  box-shadow: 0 1px 14px rgba(0, 0, 0, 0.12);
}
#errorTooltip {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  position: relative;
}
#errorTooltip .tooltipText {
  visibility: hidden;
  width: 100%;
  background-color: rgba(214, 54, 54, 1);
  box-shadow: 0 1px 14px rgba(0, 0, 0, 0.4);
  text-shadow: 0.05em 0.05em #4c4c4c;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 4;
  bottom: 100%;
}

#errorTooltip .tooltipText.showTooltip {
  visibility: visible;
}
.error {
  border: solid 4px rgba(214, 54, 54, 0.6);
  animation-name: shake;
  animation-duration: 0.1s;
  animation-timing-function: linear;
  animation-iteration-count: 4;
  animation-direction: alternate;
  animation-fill-mode: backwards;
}
@keyframes shake {
  0% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(5px);
  }
}

form button {
  padding: 0 1em;
  font-size: 1em;
  background: #7bcbc4;
  border-radius: 0.2em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 2em 0 1em;
}
ul li {
  padding: 1em;
  background: #fff;
  border-radius: 0.2em;
  border: solid 1px rgba(88, 183, 205, 0.2);
  border-bottom: solid 2px rgba(88, 183, 205, 0.2);
  position: relative;
  height: 14rem;
}
button {
  cursor: pointer;
}
div,
input,
button {
  border: none;
  outline: none;
}
header {
  text-align: center;
  background: linear-gradient(90deg, #d4eece, #55b3d0, #1e7eb7),
    url("../images/header-bg.jpg") no-repeat;
  background-blend-mode: multiply;
  background-size: cover;
}
header input {
  padding: 12px;
  font-size: 1.15em;
  width: 100%;
}
li span,
li input[type="text"],
li label {
  color: #707070;
  font-size: 1.3em;
  margin-bottom: 0.3em;
}
li input[type="text"] {
  padding: 0.2em;
  width: 95%;
  border: 1px dotted rgba(0, 0, 0, 0.2);
}
li label {
  font-size: 0.9em;
  display: block;
  color: rgba(112, 112, 112, 0.55);
}
li textarea,
li p,
li span,
li input[type="text"]:first-child {
  display: block;
  resize: none;
}
.notes {
  border-radius: 5px;
  height: 6rem;
  width: 100%;
  color: #707070;
  overflow-y: scroll;
  margin: 0 auto;
  scrollbar-width: thin;
  scrollbar-color: beige;
  margin-block-end: 0rem;
}
textarea.notes {
  height: 5.5rem;
}
.notes::-webkit-scrollbar {
  width: 6px;
}
.notes::-webkit-scrollbar-thumb {
  background-color: darkgray;
  border-radius: 20px;
}
.notes::-webkit-scrollbar-corner {
  opacity: 0;
}

li button {
  font-size: 0.78em;
  margin-top: 1.65em;
  margin-right: 0.4em;
  border-radius: 0.3em;
  padding: 0.4em 0.6em;
  color: white;
  background: #58b7cd;
}
li button:last-child {
  background: rgba(88, 183, 205, 0.5);
}
.wrapper {
  width: 100%;
  max-width: 900px;
  margin: 2.5em auto;
  border-radius: 0.35em;
  background: #fcfcfc;
  overflow: hidden;
  box-shadow: 0 0 26px rgba(0, 0, 0, 0.13);
}
div > input:last-child {
  font-size: 1em;
  margin-left: 6px;
}
div > label {
  color: #767676;
}

/* responded */
.responded {
  transition: 0.4s;
  border-color: rgba(88, 183, 205, 0.9);
}
.responded label {
  transition: 0.4s;
  color: rgba(88, 183, 205, 1);
}

/* disabling input button */
.disabled {
  opacity: 0.2;
}
.disabled:hover {
  cursor: not-allowed;
}

/* hide list item */
.hidden {
  display: none;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 0) and (max-width: 768px) {
  header {
    padding: 1.25em;
  }
  h1 {
    font-size: 3.6em;
    margin: 0.3em 0 0;
  }
  h1 + p {
    margin-bottom: 4rem;
  }
  ul li {
    margin-bottom: 1em;
  }
  form {
    width: 95%;

    margin: auto;
    margin-top: 2.5em;
  }
  form div {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  form button {
    padding: 12px 0;
    margin-top: 0.5em;
  }
  form input {
    font-size: 1em;
    text-align: center;
  }
  .wrapper {
    margin: 0;
  }
  .main {
    padding: 2em 1em 0.75em;
  }
}

@media (min-width: 769px) {
  header {
    height: 280px;
    padding: 2.5em 1em 1em;
    background-position: 0 -95px;
  }
  .main > div {
    float: right;
    margin-top: 12px;
    margin-right: 1.25%;
  }
  div > label {
    margin-top: 12px;
  }
  h1 {
    font-size: 5.8em;
  }
  h2 {
    float: left;
    font-size: 1.9em;
    margin-left: 1.25%;
  }
  form {
    margin: 4.15em auto 0;
    z-index: 3;
    position: relative;
  }
  .wrapper {
    width: 90%;
  }
  .main {
    padding: 3.8em 1.5em 0.75em;
    position: relative;
    z-index: 2;
  }
  ul {
    display: -webkit-flex;
    display: flex;
    clear: both;

    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 1.25em;
  }
  ul li {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-flex-basis: 47.5%;
    flex-basis: 47.5%;
    margin: 0 1.25% 1em;
  }
}
@media (min-width: 880px) {
  ul li {
    -webkit-flex-basis: 20%;
    flex-basis: 20%;
  }
}
